# 实习一：数据库应用案例设计

成员：蔡鑫豪2100013113 马啸宇 章毅2100013107

# Note:
在上面👆填写好学号

我们要做的大概是：1）确定我们要做什么数据库；2）根据数据库分工，比如样例里微信数据库就可以一个人负责用户、消息，一个人负责群聊，一个人负责朋友圈；3）建表（包括初始的测试数据）；4）实现增删改查

**DDL：4.20(SAT) 23:59:59**

In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013113:stu2100013113@162.105.146.37:53306

In [3]:
%sql use stu2100013113;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.

[]

如果以知乎为例，

实体：
1. **用户(User)**：每个用户都有唯一的用户ID(UserID)，用户名（Username）。
2. **问题(Question)**：每个问题都有唯一的问题ID（QuestionID），问题内容（Content），以及提问时间（Time）。
3. **回答(Answer)**：每个回答都有唯一的回答ID（AnswerID），回答内容（Content），以及回答时间（Time）。
4. **话题(Topic)**：每个话题都有唯一的话题ID（TopicID），话题名称（Name）。
5. **评论(Comment)**：每个评论都有唯一的评论ID（CommentID），评论内容（Content），评论的回答（AnswerID），以及评论时间（Time）。
6. **赞(Like)**：每个赞都有唯一的ID（LikeID），点赞的回答（AnswerID），以及点赞时间（Time）。

联系：
1. **提问(Questioning)**：用户可以提出问题。这是一个从用户到问题的联系。
2. **回答(Answering)**：用户可以回答问题。这可以视作3元联系。
3. **问题归属于话题(QuestionBelongsToTopic)**：问题可以归属于一个或多个话题。这是一个从问题到话题的联系。
4. **评论(Commenting)**：用户可以评论回答。一条评论属于唯一的用户。
5. **点赞(Liking)**：用户可以点赞回答。一个赞属于唯一的用户。

在这个模型中，我们可以认为**评论(Comment)** 和**赞**是弱实体，因为它依赖于 **回答(Answer)** 实体存在。同时， **问题归属于话题(QuestionBelongsToTopic)** 中，一个问题可以归属于多个话题，一个话题也可以包含多个问题。

# ER图

6个实体+1个多对多联系（问题与话题）共需要7个表

用户、问题、回答：蔡鑫豪

话题、评论：马啸宇

赞、问题与话题：章毅

（每个人把各自部分ER图画好）

# 建表

**Add your codes here**👇

In [4]:
%%sql

set @@foreign_key_checks=0;

# 创建评论表。comment_id是分辨符，belong_post_id是强实体的主码。“发送评论”是一对多联系，comment_user_id是对应的外码
drop table if exists comment_tb;

CREATE TABLE comment_tb
(
    comment_id INT,
    comment_content VARCHAR(200) NOT NULL,
    comment_time DATETIME NOT NULL,
    belong_post_id INT NOT NULL,
    comment_user_id VARCHAR(50) NOT NULL,
    PRIMARY KEY(comment_id, belong_post_id),
    constraint fk_comment_c foreign key(comment_user_id) references user_tb(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
(pymysql.err.OperationalError) (3734, "Failed to add the foreign key constraint. Missing column 'user_id' for constraint 'fk_comment_c' in the referenced table 'user_tb'")
[SQL: CREATE TABLE comment_tb
(
    comment_id INT,
    comment_content VARCHAR(200) NOT NULL,
    comment_time DATETIME NOT NULL,
    belong_post_id INT NOT NULL,
    comment_user_id VARCHAR(50) NOT NULL,
    PRIMARY KEY(comment_id, belong_post_id),
    constraint fk_comment_c foreign key(comment_user_id) references user_tb(user_id)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [6]:
%%sql

set @@foreign_key_checks=0;

# 创建话题表。topic_id是分辨符。“话题名称”是一对多联系，所以topic_name是强实体的主码
drop table if exists topic_tb;

CREATE TABLE topic_tb
(
    topic_id INT PRIMARY KEY,
    topic_name VARCHAR(20) NOT NULL
);

set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql
/* 生成样例数据，给12张表插入一些条目 */

/* 评论 */
INSERT INTO comment_tb(comment_id, comment_content, comment_time, belong_post_id, comment_user_id) VALUES(0, 'comment0', '2024-05-01 00:00:00', 0, 'user_a');
INSERT INTO comment_tb(comment_id, comment_content, comment_time, belong_post_id, comment_user_id) VALUES(1, 'comment1', '2024-05-01 00:00:01', 0, 'user_b');
INSERT INTO comment_tb(comment_id, comment_content, comment_time, belong_post_id, comment_user_id) VALUES(2, 'comment2', '2024-05-01 00:00:02', 0, 'user_c');

 * mysql://stu2100013113:***@162.105.146.37:53306
(pymysql.err.ProgrammingError) (1146, "Table 'stu2100013113.comment_tb' doesn't exist")
[SQL: /* 生成样例数据，给12张表插入一些条目 */

/* 评论 */
INSERT INTO comment_tb(comment_id, comment_content, comment_time, belong_post_id, comment_user_id) VALUES(0, 'comment0', '2024-05-01 00:00:00', 0, 'user_a');]
(Background on this error at: https://sqlalche.me/e/20/f405)

# 增删改查测试

**Add your codes here**👇