# 实习一：数据库应用案例设计

成员：蔡鑫豪2100013113 马啸宇2100013083 章毅2100013107

# Note:
在上面👆填写好学号

我们要做的大概是：1）确定我们要做什么数据库；2）根据数据库分工，比如样例里微信数据库就可以一个人负责用户、消息，一个人负责群聊，一个人负责朋友圈；3）建表（包括初始的测试数据）；4）实现增删改查

**DDL：4.20(SAT) 23:59:59**

In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013113:stu2100013113@162.105.146.37:53306

In [3]:
%sql use stu2100013113;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.

[]

如果以知乎为例，

实体：
1. **用户(User)**：每个用户都有唯一的用户ID(UserID)，用户名（Username）。
2. **问题(Question)**：每个问题都有唯一的问题ID（QuestionID），问题内容（QuestionContent），以及提问时间（QuestionTime）。
3. **回答(Answer)**：每个回答都有唯一的回答ID（AnswerID），回答内容（AnswerContent），以及回答时间（AnswerTime）。
4. **话题(Topic)**：每个话题都有唯一的话题ID（TopicID），话题名称（Name）。
5. **评论(Comment)**：每个评论都有唯一的评论ID（CommentID），评论内容（CommentContent），评论的回答（AnswerID），以及评论时间（CommentTime）。
6. **赞(Like)**：每个赞都有唯一的ID（LikeID），点赞的回答（AnswerID），以及点赞时间（LikeTime）。

联系：
1. **提问(Questioning)**：用户可以提出问题。这是一个从用户到问题的联系。
2. **回答(Answering)**：用户可以回答问题。这可以视作3元联系。
3. **问题归属于话题(QuestionBelongsToTopic)**：问题可以归属于一个或多个话题。这是一个从问题到话题的联系。
4. **评论(Commenting)**：用户可以评论回答。一条评论属于唯一的用户。
5. **点赞(Liking)**：用户可以点赞回答。一个赞属于唯一的用户。

在这个模型中，我们可以认为**评论(Comment)** 和**赞**是弱实体，因为它依赖于 **回答(Answer)** 实体存在。同时， **问题归属于话题(QuestionBelongsToTopic)** 中，一个问题可以归属于多个话题，一个话题也可以包含多个问题。

# ER图

6个实体+1个多对多联系（问题与话题）共需要7个表

用户、问题、回答：蔡鑫豪

话题、评论：马啸宇

赞、问题与话题：章毅

（每个人把各自部分ER图画好）

# 建表

**Add your codes here**👇

In [4]:
%%sql

set @@foreign_key_checks=0;

### user table
drop table if exists user_tb;

CREATE TABLE user_tb
(
    UserID VARCHAR(50) PRIMARY KEY,
    UserName VARCHAR(100) NOT NULL
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql

set @@foreign_key_checks=0;

### question table
drop table if exists question_tb;

CREATE TABLE question_tb
(
    QuestionID INT PRIMARY KEY,
    QuestionContent VARCHAR(200) NOT NULL,
    QuestionTime DATETIME NOT NULL,
    QuestionUserID VARCHAR(50) NOT NULL,
    constraint UID foreign key(QuestionUserID) references user_tb(UserID)
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql

set @@foreign_key_checks=0;

### answer table
drop table if exists answer_tb;

CREATE TABLE answer_tb
(
    AnswerID INT PRIMARY KEY,
    AnswerContent VARCHAR(200) NOT NULL,
    AnswerTime DATETIME NOT NULL,
    AnswerUserID VARCHAR(50) NOT NULL,
    AnswerQuestionID INT NOT NULL,
    constraint AUID foreign key(AnswerUserID) references user_tb(UserID),
    constraint AQID foreign key(AnswerQuestionID) references question_tb(QuestionID)
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql

set @@foreign_key_checks=0;

### comment table
drop table if exists comment_tb;

CREATE TABLE comment_tb
(
    CommentID INT,
    CommentContent VARCHAR(200) NOT NULL,
    CommentTime DATETIME NOT NULL,
    CommentUserID VARCHAR(50) NOT NULL,
    BelongAnswerID INT NOT NULL,
    PRIMARY KEY(CommentID, BelongAnswerID),
    constraint CUID foreign key(CommentUserID) references user_tb(UserID)
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql

set @@foreign_key_checks=0;

# topic table
drop table if exists topic_tb;

CREATE TABLE topic_tb
(
    TopicID INT PRIMARY KEY,
    TopicName VARCHAR(20) NOT NULL
);

set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [9]:
%%sql
### add test data here

###user
INSERT INTO user_tb(UserID, UserName) VALUES ('soyorin', '长崎素世');
INSERT INTO user_tb(UserID, UserName) VALUES ('anontokyo', '千早爱音');
INSERT INTO user_tb(UserID, UserName) VALUES ('rikki', '椎名立希');
INSERT INTO user_tb(UserID, UserName) VALUES ('tomorin', '高松灯');

###question
INSERT INTO question_tb(QuestionID, QuestionContent, QuestionTime, QuestionUserID) VALUES (0, '夏季大三角是什么，怎么观测？', '2024-04-02 11:00:00', 'anontokyo');
INSERT INTO question_tb(QuestionID, QuestionContent, QuestionTime, QuestionUserID) VALUES (1, '外国人真的很喜欢大熊猫吗？', '2024-02-12 19:00:00', 'soyorin');
INSERT INTO question_tb(QuestionID, QuestionContent, QuestionTime, QuestionUserID) VALUES (2, '一个优秀的摇滚主唱需要具备哪些素质？', '2024-03-27 23:00:00', 'tomorin');

###answer
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (0, '7、8月份的时候头顶排列成类似于直角三角形的三颗星。用眼睛看即可,秋天日落后两三个小时在西方天空仍然可见。', '2024-04-02 13:06:01', 'tomorin', 0);
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (1, '是化妆品牌子吗？', '2024-04-02 15:06:44', 'soyorin', 0);
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (2, '熊猫的话，就是可爱！', '2024-02-15 07:36:10', 'rikki', 1);
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (3, '可以多把位置让给节奏吉他~', '2024-03-28 00:01:51', 'anontokyo', 2);
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (4, '只要能唱出心中的呐喊就可以了！', '2024-03-28 03:17:28', 'rikki', 2);

###comment
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(0, '原来如此！', '2024-04-03 11:05:00', 'anontokyo', 0);
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(1, '完全同意！！！', '2024-04-05 16:20:01', 'tomorin', 2);
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(2, '确实很可爱！', '2024-04-05 18:49:02', 'soyorin', 2);
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(3, '不是的吧哈哈哈哈', '2024-04-05 20:41:03', 'rikki', 1);
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(4, '我也觉得可以~', '2024-04-05 21:35:04', 'rikki', 3);

###topic
INSERT INTO topic_tb(TopicID, TopicName) VALUES(0, "动物");
INSERT INTO topic_tb(TopicID, TopicName) VALUES(1, "音乐");
INSERT INTO topic_tb(TopicID, TopicName) VALUES(2, "天文");

 * mysql://stu2100013113:***@162.105.146.37:53306
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# 增删改查测试

**Add your codes here**👇

In [10]:
db = pymysql.connect(host='162.105.146.37',user='stu2100013113', password='stu2100013113', port=53306, db="stu2100013113")
cursor = db.cursor()

In [11]:
### find all answers of a user
user_id = 'rikki'
sql = 'select AnswerContent from answer_tb where AnswerUserID = %s'
try:
    cursor.execute(sql, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('熊猫的话，就是可爱！',), ('只要能唱出心中的呐喊就可以了！',))

In [12]:
### find all answers of a question
question_id = 2
sql = 'select AnswerContent from answer_tb where AnswerQuestionID = %s'
try:
    cursor.execute(sql, (question_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('可以多把位置让给节奏吉他~',), ('只要能唱出心中的呐喊就可以了！',))

In [13]:
### add an answer to a question
answer_id = 999
answer_content = '我认识的一个鼓手也很喜欢熊猫'
answer_date = '2024-02-14 09:30:57'
answer_user = 'anontokyo'
answer_question = 1
sql = '''insert into answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES
(%s, %s, %s, %s, %s)'''
try:
    cursor.execute(sql, (answer_id, answer_content, answer_date, answer_user, answer_question))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

[]

In [14]:
###check the result
%sql select * from answer_tb

 * mysql://stu2100013113:***@162.105.146.37:53306
6 rows affected.

[(0, '7、8月份的时候头顶排列成类似于直角三角形的三颗星。用眼睛看即可,秋天日落后两三个小时在西方天空仍然可见。', datetime.datetime(2024, 4, 2, 13, 6, 1), 'tomorin', 0),
 (1, '是化妆品牌子吗？', datetime.datetime(2024, 4, 2, 15, 6, 44), 'soyorin', 0),
 (2, '熊猫的话，就是可爱！', datetime.datetime(2024, 2, 15, 7, 36, 10), 'rikki', 1),
 (3, '可以多把位置让给节奏吉他~', datetime.datetime(2024, 3, 28, 0, 1, 51), 'anontokyo', 2),
 (4, '只要能唱出心中的呐喊就可以了！', datetime.datetime(2024, 3, 28, 3, 17, 28), 'rikki', 2),
 (999, '我认识的一个鼓手也很喜欢熊猫', datetime.datetime(2024, 2, 14, 9, 30, 57), 'anontokyo', 1)]

In [15]:
### find all comments of a user
user_id = 'rikki'
sql = 'select CommentContent from comment_tb where CommentUserID = %s'
try:
    cursor.execute(sql, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('不是的吧哈哈哈哈',), ('我也觉得可以~',))

In [16]:
### Query the number of comments for a certain answer
answer_id = 2
sql = 'select count(*) from answer_tb, comment_tb where answer_tb.AnswerID = %s and answer_tb.AnswerID = comment_tb.BelongAnswerID'
try:
    cursor.execute(sql, (answer_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((2,),)

In [17]:
%sql select * from comment_tb

 * mysql://stu2100013113:***@162.105.146.37:53306
5 rows affected.

[(0, '原来如此！', datetime.datetime(2024, 4, 3, 11, 5), 'anontokyo', 0),
 (1, '完全同意！！！', datetime.datetime(2024, 4, 5, 16, 20, 1), 'tomorin', 2),
 (2, '确实很可爱！', datetime.datetime(2024, 4, 5, 18, 49, 2), 'soyorin', 2),
 (3, '不是的吧哈哈哈哈', datetime.datetime(2024, 4, 5, 20, 41, 3), 'rikki', 1),
 (4, '我也觉得可以~', datetime.datetime(2024, 4, 5, 21, 35, 4), 'rikki', 3)]

In [18]:
### delete a comment
comment_id = 4
sql = 'delete from comment_tb where CommentID = %s'
try:
    cursor.execute(sql, (comment_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

[]

In [19]:
%sql select * from comment_tb

 * mysql://stu2100013113:***@162.105.146.37:53306
4 rows affected.

[(0, '原来如此！', datetime.datetime(2024, 4, 3, 11, 5), 'anontokyo', 0),
 (1, '完全同意！！！', datetime.datetime(2024, 4, 5, 16, 20, 1), 'tomorin', 2),
 (2, '确实很可爱！', datetime.datetime(2024, 4, 5, 18, 49, 2), 'soyorin', 2),
 (3, '不是的吧哈哈哈哈', datetime.datetime(2024, 4, 5, 20, 41, 3), 'rikki', 1)]