# å®ä¹ ä¸€ï¼šæ•°æ®åº“åº”ç”¨æ¡ˆä¾‹è®¾è®¡

æˆå‘˜ï¼šè”¡é‘«è±ª2100013113 é©¬å•¸å®‡2100013083 ç« æ¯…2100013107

# Note:
åœ¨ä¸Šé¢ğŸ‘†å¡«å†™å¥½å­¦å·

æˆ‘ä»¬è¦åšçš„å¤§æ¦‚æ˜¯ï¼š1ï¼‰ç¡®å®šæˆ‘ä»¬è¦åšä»€ä¹ˆæ•°æ®åº“ï¼›2ï¼‰æ ¹æ®æ•°æ®åº“åˆ†å·¥ï¼Œæ¯”å¦‚æ ·ä¾‹é‡Œå¾®ä¿¡æ•°æ®åº“å°±å¯ä»¥ä¸€ä¸ªäººè´Ÿè´£ç”¨æˆ·ã€æ¶ˆæ¯ï¼Œä¸€ä¸ªäººè´Ÿè´£ç¾¤èŠï¼Œä¸€ä¸ªäººè´Ÿè´£æœ‹å‹åœˆï¼›3ï¼‰å»ºè¡¨ï¼ˆåŒ…æ‹¬åˆå§‹çš„æµ‹è¯•æ•°æ®ï¼‰ï¼›4ï¼‰å®ç°å¢åˆ æ”¹æŸ¥

**DDLï¼š4.20(SAT) 23:59:59**

In [1]:
%load_ext sql

In [2]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2100013113:stu2100013113@162.105.146.37:53306

In [3]:
%sql use stu2100013113;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.

[]

å¦‚æœä»¥çŸ¥ä¹ä¸ºä¾‹ï¼Œ

å®ä½“ï¼š
1. **ç”¨æˆ·(User)**ï¼šæ¯ä¸ªç”¨æˆ·éƒ½æœ‰å”¯ä¸€çš„ç”¨æˆ·ID(UserID)ï¼Œç”¨æˆ·åï¼ˆUsernameï¼‰ã€‚
2. **é—®é¢˜(Question)**ï¼šæ¯ä¸ªé—®é¢˜éƒ½æœ‰å”¯ä¸€çš„é—®é¢˜IDï¼ˆQuestionIDï¼‰ï¼Œé—®é¢˜å†…å®¹ï¼ˆQuestionContentï¼‰ï¼Œä»¥åŠæé—®æ—¶é—´ï¼ˆQuestionTimeï¼‰ã€‚
3. **å›ç­”(Answer)**ï¼šæ¯ä¸ªå›ç­”éƒ½æœ‰å”¯ä¸€çš„å›ç­”IDï¼ˆAnswerIDï¼‰ï¼Œå›ç­”å†…å®¹ï¼ˆAnswerContentï¼‰ï¼Œä»¥åŠå›ç­”æ—¶é—´ï¼ˆAnswerTimeï¼‰ã€‚
4. **è¯é¢˜(Topic)**ï¼šæ¯ä¸ªè¯é¢˜éƒ½æœ‰å”¯ä¸€çš„è¯é¢˜IDï¼ˆTopicIDï¼‰ï¼Œè¯é¢˜åç§°ï¼ˆNameï¼‰ã€‚
5. **è¯„è®º(Comment)**ï¼šæ¯ä¸ªè¯„è®ºéƒ½æœ‰å”¯ä¸€çš„è¯„è®ºIDï¼ˆCommentIDï¼‰ï¼Œè¯„è®ºå†…å®¹ï¼ˆCommentContentï¼‰ï¼Œè¯„è®ºçš„å›ç­”ï¼ˆAnswerIDï¼‰ï¼Œä»¥åŠè¯„è®ºæ—¶é—´ï¼ˆCommentTimeï¼‰ã€‚
6. **èµ(Like)**ï¼šæ¯ä¸ªèµéƒ½æœ‰å”¯ä¸€çš„IDï¼ˆLikeIDï¼‰ï¼Œç‚¹èµçš„å›ç­”ï¼ˆAnswerIDï¼‰ï¼Œä»¥åŠç‚¹èµæ—¶é—´ï¼ˆLikeTimeï¼‰ã€‚

è”ç³»ï¼š
1. **æé—®(Questioning)**ï¼šç”¨æˆ·å¯ä»¥æå‡ºé—®é¢˜ã€‚è¿™æ˜¯ä¸€ä¸ªä»ç”¨æˆ·åˆ°é—®é¢˜çš„è”ç³»ã€‚
2. **å›ç­”(Answering)**ï¼šç”¨æˆ·å¯ä»¥å›ç­”é—®é¢˜ã€‚è¿™å¯ä»¥è§†ä½œ3å…ƒè”ç³»ã€‚
3. **é—®é¢˜å½’å±äºè¯é¢˜(QuestionBelongsToTopic)**ï¼šé—®é¢˜å¯ä»¥å½’å±äºä¸€ä¸ªæˆ–å¤šä¸ªè¯é¢˜ã€‚è¿™æ˜¯ä¸€ä¸ªä»é—®é¢˜åˆ°è¯é¢˜çš„è”ç³»ã€‚
4. **è¯„è®º(Commenting)**ï¼šç”¨æˆ·å¯ä»¥è¯„è®ºå›ç­”ã€‚ä¸€æ¡è¯„è®ºå±äºå”¯ä¸€çš„ç”¨æˆ·ã€‚
5. **ç‚¹èµ(Liking)**ï¼šç”¨æˆ·å¯ä»¥ç‚¹èµå›ç­”ã€‚ä¸€ä¸ªèµå±äºå”¯ä¸€çš„ç”¨æˆ·ã€‚

åœ¨è¿™ä¸ªæ¨¡å‹ä¸­ï¼Œæˆ‘ä»¬å¯ä»¥è®¤ä¸º**è¯„è®º(Comment)** å’Œ**èµ**æ˜¯å¼±å®ä½“ï¼Œå› ä¸ºå®ƒä¾èµ–äº **å›ç­”(Answer)** å®ä½“å­˜åœ¨ã€‚åŒæ—¶ï¼Œ **é—®é¢˜å½’å±äºè¯é¢˜(QuestionBelongsToTopic)** ä¸­ï¼Œä¸€ä¸ªé—®é¢˜å¯ä»¥å½’å±äºå¤šä¸ªè¯é¢˜ï¼Œä¸€ä¸ªè¯é¢˜ä¹Ÿå¯ä»¥åŒ…å«å¤šä¸ªé—®é¢˜ã€‚

# ERå›¾

6ä¸ªå®ä½“+1ä¸ªå¤šå¯¹å¤šè”ç³»ï¼ˆé—®é¢˜ä¸è¯é¢˜ï¼‰å…±éœ€è¦7ä¸ªè¡¨

ç”¨æˆ·ã€é—®é¢˜ã€å›ç­”ï¼šè”¡é‘«è±ª

è¯é¢˜ã€è¯„è®ºï¼šé©¬å•¸å®‡

èµã€é—®é¢˜ä¸è¯é¢˜ï¼šç« æ¯…

ï¼ˆæ¯ä¸ªäººæŠŠå„è‡ªéƒ¨åˆ†ERå›¾ç”»å¥½ï¼‰

# å»ºè¡¨

**Add your codes here**ğŸ‘‡

In [4]:
%%sql

set @@foreign_key_checks=0;

### user table
drop table if exists user_tb;

CREATE TABLE user_tb
(
    UserID VARCHAR(50) PRIMARY KEY,
    UserName VARCHAR(100) NOT NULL
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql

set @@foreign_key_checks=0;

### question table
drop table if exists question_tb;

CREATE TABLE question_tb
(
    QuestionID INT PRIMARY KEY,
    QuestionContent VARCHAR(200) NOT NULL,
    QuestionTime DATETIME NOT NULL,
    QuestionUserID VARCHAR(50) NOT NULL,
    constraint UID foreign key(QuestionUserID) references user_tb(UserID)
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql

set @@foreign_key_checks=0;

### answer table
drop table if exists answer_tb;

CREATE TABLE answer_tb
(
    AnswerID INT PRIMARY KEY,
    AnswerContent VARCHAR(200) NOT NULL,
    AnswerTime DATETIME NOT NULL,
    AnswerUserID VARCHAR(50) NOT NULL,
    AnswerQuestionID INT NOT NULL,
    constraint AUID foreign key(AnswerUserID) references user_tb(UserID),
    constraint AQID foreign key(AnswerQuestionID) references question_tb(QuestionID)
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql

set @@foreign_key_checks=0;

### comment table
drop table if exists comment_tb;

CREATE TABLE comment_tb
(
    CommentID INT,
    CommentContent VARCHAR(200) NOT NULL,
    CommentTime DATETIME NOT NULL,
    CommentUserID VARCHAR(50) NOT NULL,
    BelongAnswerID INT NOT NULL,
    PRIMARY KEY(CommentID, BelongAnswerID),
    constraint CUID foreign key(CommentUserID) references user_tb(UserID)
);
set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql

set @@foreign_key_checks=0;

# topic table
drop table if exists topic_tb;

CREATE TABLE topic_tb
(
    TopicID INT PRIMARY KEY,
    TopicName VARCHAR(20) NOT NULL
);

set @@foreign_key_checks=1;

 * mysql://stu2100013113:***@162.105.146.37:53306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [9]:
%%sql
### add test data here

###user
INSERT INTO user_tb(UserID, UserName) VALUES ('soyorin', 'é•¿å´ç´ ä¸–');
INSERT INTO user_tb(UserID, UserName) VALUES ('anontokyo', 'åƒæ—©çˆ±éŸ³');
INSERT INTO user_tb(UserID, UserName) VALUES ('rikki', 'æ¤åç«‹å¸Œ');
INSERT INTO user_tb(UserID, UserName) VALUES ('tomorin', 'é«˜æ¾ç¯');

###question
INSERT INTO question_tb(QuestionID, QuestionContent, QuestionTime, QuestionUserID) VALUES (0, 'å¤å­£å¤§ä¸‰è§’æ˜¯ä»€ä¹ˆï¼Œæ€ä¹ˆè§‚æµ‹ï¼Ÿ', '2024-04-02 11:00:00', 'anontokyo');
INSERT INTO question_tb(QuestionID, QuestionContent, QuestionTime, QuestionUserID) VALUES (1, 'å¤–å›½äººçœŸçš„å¾ˆå–œæ¬¢å¤§ç†ŠçŒ«å—ï¼Ÿ', '2024-02-12 19:00:00', 'soyorin');
INSERT INTO question_tb(QuestionID, QuestionContent, QuestionTime, QuestionUserID) VALUES (2, 'ä¸€ä¸ªä¼˜ç§€çš„æ‘‡æ»šä¸»å”±éœ€è¦å…·å¤‡å“ªäº›ç´ è´¨ï¼Ÿ', '2024-03-27 23:00:00', 'tomorin');

###answer
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (0, '7ã€8æœˆä»½çš„æ—¶å€™å¤´é¡¶æ’åˆ—æˆç±»ä¼¼äºç›´è§’ä¸‰è§’å½¢çš„ä¸‰é¢—æ˜Ÿã€‚ç”¨çœ¼ç›çœ‹å³å¯,ç§‹å¤©æ—¥è½åä¸¤ä¸‰ä¸ªå°æ—¶åœ¨è¥¿æ–¹å¤©ç©ºä»ç„¶å¯è§ã€‚', '2024-04-02 13:06:01', 'tomorin', 0);
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (1, 'æ˜¯åŒ–å¦†å“ç‰Œå­å—ï¼Ÿ', '2024-04-02 15:06:44', 'soyorin', 0);
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (2, 'ç†ŠçŒ«çš„è¯ï¼Œå°±æ˜¯å¯çˆ±ï¼', '2024-02-15 07:36:10', 'rikki', 1);
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (3, 'å¯ä»¥å¤šæŠŠä½ç½®è®©ç»™èŠ‚å¥å‰ä»–~', '2024-03-28 00:01:51', 'anontokyo', 2);
INSERT INTO answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES (4, 'åªè¦èƒ½å”±å‡ºå¿ƒä¸­çš„å‘å–Šå°±å¯ä»¥äº†ï¼', '2024-03-28 03:17:28', 'rikki', 2);

###comment
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(0, 'åŸæ¥å¦‚æ­¤ï¼', '2024-04-03 11:05:00', 'anontokyo', 0);
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(1, 'å®Œå…¨åŒæ„ï¼ï¼ï¼', '2024-04-05 16:20:01', 'tomorin', 2);
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(2, 'ç¡®å®å¾ˆå¯çˆ±ï¼', '2024-04-05 18:49:02', 'soyorin', 2);
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(3, 'ä¸æ˜¯çš„å§å“ˆå“ˆå“ˆå“ˆ', '2024-04-05 20:41:03', 'rikki', 1);
INSERT INTO comment_tb(CommentID, CommentContent, CommentTime, CommentUserID, BelongAnswerID) VALUES(4, 'æˆ‘ä¹Ÿè§‰å¾—å¯ä»¥~', '2024-04-05 21:35:04', 'rikki', 3);

###topic
INSERT INTO topic_tb(TopicID, TopicName) VALUES(0, "åŠ¨ç‰©");
INSERT INTO topic_tb(TopicID, TopicName) VALUES(1, "éŸ³ä¹");
INSERT INTO topic_tb(TopicID, TopicName) VALUES(2, "å¤©æ–‡");

 * mysql://stu2100013113:***@162.105.146.37:53306
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# å¢åˆ æ”¹æŸ¥æµ‹è¯•

**Add your codes here**ğŸ‘‡

In [10]:
db = pymysql.connect(host='162.105.146.37',user='stu2100013113', password='stu2100013113', port=53306, db="stu2100013113")
cursor = db.cursor()

In [11]:
### find all answers of a user
user_id = 'rikki'
sql = 'select AnswerContent from answer_tb where AnswerUserID = %s'
try:
    cursor.execute(sql, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('ç†ŠçŒ«çš„è¯ï¼Œå°±æ˜¯å¯çˆ±ï¼',), ('åªè¦èƒ½å”±å‡ºå¿ƒä¸­çš„å‘å–Šå°±å¯ä»¥äº†ï¼',))

In [12]:
### find all answers of a question
question_id = 2
sql = 'select AnswerContent from answer_tb where AnswerQuestionID = %s'
try:
    cursor.execute(sql, (question_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('å¯ä»¥å¤šæŠŠä½ç½®è®©ç»™èŠ‚å¥å‰ä»–~',), ('åªè¦èƒ½å”±å‡ºå¿ƒä¸­çš„å‘å–Šå°±å¯ä»¥äº†ï¼',))

In [13]:
### add an answer to a question
answer_id = 999
answer_content = 'æˆ‘è®¤è¯†çš„ä¸€ä¸ªé¼“æ‰‹ä¹Ÿå¾ˆå–œæ¬¢ç†ŠçŒ«'
answer_date = '2024-02-14 09:30:57'
answer_user = 'anontokyo'
answer_question = 1
sql = '''insert into answer_tb(AnswerID, AnswerContent, AnswerTime, AnswerUserID, AnswerQuestionID) VALUES
(%s, %s, %s, %s, %s)'''
try:
    cursor.execute(sql, (answer_id, answer_content, answer_date, answer_user, answer_question))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

[]

In [14]:
###check the result
%sql select * from answer_tb

 * mysql://stu2100013113:***@162.105.146.37:53306
6 rows affected.

[(0, '7ã€8æœˆä»½çš„æ—¶å€™å¤´é¡¶æ’åˆ—æˆç±»ä¼¼äºç›´è§’ä¸‰è§’å½¢çš„ä¸‰é¢—æ˜Ÿã€‚ç”¨çœ¼ç›çœ‹å³å¯,ç§‹å¤©æ—¥è½åä¸¤ä¸‰ä¸ªå°æ—¶åœ¨è¥¿æ–¹å¤©ç©ºä»ç„¶å¯è§ã€‚', datetime.datetime(2024, 4, 2, 13, 6, 1), 'tomorin', 0),
 (1, 'æ˜¯åŒ–å¦†å“ç‰Œå­å—ï¼Ÿ', datetime.datetime(2024, 4, 2, 15, 6, 44), 'soyorin', 0),
 (2, 'ç†ŠçŒ«çš„è¯ï¼Œå°±æ˜¯å¯çˆ±ï¼', datetime.datetime(2024, 2, 15, 7, 36, 10), 'rikki', 1),
 (3, 'å¯ä»¥å¤šæŠŠä½ç½®è®©ç»™èŠ‚å¥å‰ä»–~', datetime.datetime(2024, 3, 28, 0, 1, 51), 'anontokyo', 2),
 (4, 'åªè¦èƒ½å”±å‡ºå¿ƒä¸­çš„å‘å–Šå°±å¯ä»¥äº†ï¼', datetime.datetime(2024, 3, 28, 3, 17, 28), 'rikki', 2),
 (999, 'æˆ‘è®¤è¯†çš„ä¸€ä¸ªé¼“æ‰‹ä¹Ÿå¾ˆå–œæ¬¢ç†ŠçŒ«', datetime.datetime(2024, 2, 14, 9, 30, 57), 'anontokyo', 1)]

In [15]:
### find all comments of a user
user_id = 'rikki'
sql = 'select CommentContent from comment_tb where CommentUserID = %s'
try:
    cursor.execute(sql, (user_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

(('ä¸æ˜¯çš„å§å“ˆå“ˆå“ˆå“ˆ',), ('æˆ‘ä¹Ÿè§‰å¾—å¯ä»¥~',))

In [16]:
### Query the number of comments for a certain answer
answer_id = 2
sql = 'select count(*) from answer_tb, comment_tb where answer_tb.AnswerID = %s and answer_tb.AnswerID = comment_tb.BelongAnswerID'
try:
    cursor.execute(sql, (answer_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

((2,),)

In [17]:
%sql select * from comment_tb

 * mysql://stu2100013113:***@162.105.146.37:53306
5 rows affected.

[(0, 'åŸæ¥å¦‚æ­¤ï¼', datetime.datetime(2024, 4, 3, 11, 5), 'anontokyo', 0),
 (1, 'å®Œå…¨åŒæ„ï¼ï¼ï¼', datetime.datetime(2024, 4, 5, 16, 20, 1), 'tomorin', 2),
 (2, 'ç¡®å®å¾ˆå¯çˆ±ï¼', datetime.datetime(2024, 4, 5, 18, 49, 2), 'soyorin', 2),
 (3, 'ä¸æ˜¯çš„å§å“ˆå“ˆå“ˆå“ˆ', datetime.datetime(2024, 4, 5, 20, 41, 3), 'rikki', 1),
 (4, 'æˆ‘ä¹Ÿè§‰å¾—å¯ä»¥~', datetime.datetime(2024, 4, 5, 21, 35, 4), 'rikki', 3)]

In [18]:
### delete a comment
comment_id = 4
sql = 'delete from comment_tb where CommentID = %s'
try:
    cursor.execute(sql, (comment_id))
    print(cursor.fetchall())
    db.commit()
except:
    db.rollback()

[]

In [19]:
%sql select * from comment_tb

 * mysql://stu2100013113:***@162.105.146.37:53306
4 rows affected.

[(0, 'åŸæ¥å¦‚æ­¤ï¼', datetime.datetime(2024, 4, 3, 11, 5), 'anontokyo', 0),
 (1, 'å®Œå…¨åŒæ„ï¼ï¼ï¼', datetime.datetime(2024, 4, 5, 16, 20, 1), 'tomorin', 2),
 (2, 'ç¡®å®å¾ˆå¯çˆ±ï¼', datetime.datetime(2024, 4, 5, 18, 49, 2), 'soyorin', 2),
 (3, 'ä¸æ˜¯çš„å§å“ˆå“ˆå“ˆå“ˆ', datetime.datetime(2024, 4, 5, 20, 41, 3), 'rikki', 1)]